<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @category.nombre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @category.estado %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
